<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Band</th>
      <th>Price</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each venue.infos}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          <a href="/venue/{{../venue._id}}/deleteinfo/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
